
.App{
  background-color: greenyellow;

}

.opaque {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(96, 156, 224, 0.7); /* Black with 70% opacity */
}

.container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  margin-top: 50px;
  border: 2px solid aqua;
}

.navbar {
  border: 1px solid gray;
}

.form1{
  display: flex;
  flex: 1;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
  color: black;
  
  height: 100vh;
  width:100vw;
  margin-left: 50px;

  margin: 0;
  padding: 0;
  /* padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 125px;
  padding-right: 125px; */
  
  box-sizing: border-box;
}

/* .App {
  color: black;
}

.separator {
  display: flex;
  min-height: calc(100vh - 60px);
  padding-top: 60px;
  margin-left: 60px;
  transition: margin-left 0.3s ease;
  box-sizing: border-box;
}

.NavBar:hover + .separator,
.NavBar:hover ~ .separator {
  margin-left: 200px;
}

.formContainer {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
} */
